# Sheriff Crime Data

1. Import DATA
  * Show the data
  * Check size/shape
2. this
  * dis
3. Preprocessing
  * Date conversion
    * One-Hot-Encode MONTHS
      * Create a mapping function or dictionary (use LabelEncoder(); ez)
      * then o.h.e.
    * One-Hot-Encode DAY?
      * create a range so it's not so much?
        * example (1 - 10, 11 - 20, 21 - 31); 3 categories
      * then o.h.e
    * One-Hot_Encode TIME?
      * same as DAY.. create categories/range
        * (morning, 0:00 - 11:59a), (afternoon, 12 - 5:59p), (evening, 6 - 11:59p)
        * or more specific?
      * then o.h.e
    * YEAR.... ez

## Import the data

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

sheriff_df = pd.read_csv("LA_SHERIFF__CRIMES_-_LAST_12_MONTHS.csv")
sheriff_df = sheriff_df[pd.notnull(sheriff_df['LATITUDE'])]

### Print it out

In [2]:
sheriff_df[::20000]

,CRIME_DATE,CRIME_YEAR,CRIME_CATEGORY_NUMBER,CRIME_CATEGORY_DESCRIPTION,STATISTICAL_CODE,STATISTICAL_CODE_DESCRIPTION,VICTIM_COUNT,STREET,CITY,STATE,ZIP,LATITUDE,LONGITUDE,GANG_RELATED,REPORTING_DISTRICT,STATION_IDENTIFIER,STATION_NAME,CRIME_IDENTIFIER,LOCATION
0,01/08/2017 11:01:30 AM,2017,6,LARCENY THEFT,389,"THEFT, PETTY: Other (From Prvt Res, Boat, Plan...",1,44240 4TH ST E,LANCASTER,CA,NaN,34.686938,-118.123960,N,1133,CA0190024,LANCASTER,18052353,"44240 4TH ST E\nLANCASTER, CA\n(34.68693834371..."
24667,04/24/2017 12:04:00 AM,2017,10,FRAUD AND NSF CHECKS,117,IDENTITY THEFT (GOODS/SERVICES/CREDIT),1,1620 RANGE CT,DIAMOND BAR,CA,91765.0,33.992848,-117.792427,N,2925,CA0190020,WALNUT,18203432,"1620 RANGE CT\nDIAMOND BAR, CA 91765\n(33.9928..."
45036,01/23/2017 12:01:00 PM,2017,6,LARCENY THEFT,383,"THEFT, PETTY: Shoplifting (From Dept Store, Mk...",1,11620 ROSECRANS AVE,NORWALK,CA,90650.0,33.902624,-118.085850,N,453,CA0190004,NORWALK,18034936,"11620 ROSECRANS AVE\nNORWALK, CA 90650\n(33.90..."
65424,06/08/2017 01:06:00 PM,2017,4,AGGRAVATED ASSAULT,53,"ASSAULT, AGGRAVATED: ADW - OTHER DANGEROUS WEAPON",2,44610 YUCCA AVE,LANCASTER,CA,NaN,34.693966,-118.134329,N,1133,CA0190024,LANCASTER,18232025,"44610 YUCCA AVE\nLANCASTER, CA\n(34.6939661416..."
85810,08/08/2017 11:08:00 AM,2017,11,SEX OFFENSES FELONIES,124,SEX FELONIES: Pandering,1,600 LONG BEACH BLVD,LONG BEACH,CA,NaN,33.774955,-118.188524,N,3200,CA0190080,HUMAN TRAFFICKING BUREAU,18293173,"600 LONG BEACH BLVD\nLONG BEACH, CA\n(33.77495..."
106178,07/01/2017 02:07:57 AM,2017,6,LARCENY THEFT,340,VEHICLE BURGLARY: Auto/Passenger Van Burglary,1,15520 S BROADWAY AVE,GARDENA,CA,NaN,33.890266,-118.279519,N,2871,CA0190042,COMPTON,18255212,"15520 S BROADWAY AVE\nGARDENA, CA\n(33.8902655..."
126547,10/18/2016 05:10:00 AM,2016,13,NON-AGGRAVATED ASSAULTS,144,"ASSAULT, NON-AGG: Hands, Feet, Fist, Etc.",1,450 BAUCHET ST,LOS ANGELES,CA,90012.0,34.059141,-118.231065,N,5800,CA01900U2,TTCF,17938265,"450 BAUCHET ST\nLOS ANGELES, CA 90012\n(34.059..."
146905,08/02/2017 06:08:00 PM,2017,13,NON-AGGRAVATED ASSAULTS,144,"ASSAULT, NON-AGG: Hands, Feet, Fist, Etc.",2,29340 THE OLD RD,CASTAIC,CA,91384.0,34.450894,-118.613466,N,5640,CA0190087,NCCF,18287602,"29340 THE OLD RD\nCASTAIC, CA 91384\n(34.45089..."
167285,01/31/2017 12:01:00 AM,2017,24,VANDALISM,263,VANDALISM FELONY,1,11460 RATLIFFE ST,NORWALK,CA,NaN,33.913530,-118.089885,N,453,CA0190004,NORWALK,18043234,"11460 RATLIFFE ST\nNORWALK, CA\n(33.9135299322..."

### Print size/shape of Dataset

In [3]:
print(sheriff_df.shape)

(161431, 19)

### Define features and label

In [4]:
''' keeping for now... so we don't have to rewrite?? 
all_columns = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER',
       'CRIME_CATEGORY_DESCRIPTION', 'STATISTICAL_CODE',
       'STATISTICAL_CODE_DESCRIPTION', 'VICTIM_COUNT', 'STREET', 'CITY',
       'STATE', 'ZIP', 'LATITUDE', 'LONGITUDE', 'GANG_RELATED',
       'REPORTING_DISTRICT', 'STATION_IDENTIFIER', 'STATION_NAME',
       'CRIME_IDENTIFIER', 'LOCATION']
'''

# edit features to include here
feat_cols = ['CRIME_DATE', 'CRIME_YEAR',
             'CITY', 'LATITUDE', 'LONGITUDE',
             'REPORTING_DISTRICT',
             'CRIME_IDENTIFIER', 'LOCATION']

label_col = ["CRIME_CATEGORY_NUMBER"]

#### Mapping CRIME_CATEGORY_DESCRIPTION to CRIME_CATEGORY_NUMBER, and reverse (Might be useful later)

In [5]:
'''
class_mapping = {label:id_num for id_num, label in enumerate(np.unique(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"]) )}
print(class_mapping) # returns as dict obj - maybe below is better

# or

class_le = LabelEncoder() # does above automatically; but returns as numpy array
y_map = class_le.fit_transform(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"])
print(y_map)
y_inverse = class_le.inverse_transform(y_map) # undo transform - back to string
print(y_inverse)
'''

'\nclass_mapping = {label:id_num for id_num, label in enumerate(np.unique(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"]) )}\nprint(class_mapping) # returns as dict obj - maybe below is better\n\n# or\n\nclass_le = LabelEncoder() # does above automatically; but returns as numpy array\ny_map = class_le.fit_transform(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"])\nprint(y_map)\ny_inverse = class_le.inverse_transform(y_map) # undo transform - back to string\nprint(y_inverse)\n'

### Assign FEATURES and LABELS
#### _Note_ : Rows where CITY feature/value is missing are filtered out

In [6]:
filter_sheriff_df = sheriff_df[pd.notnull(sheriff_df['CITY']) ] # filter out rows where CITY value is missing

X_sheriff_df = filter_sheriff_df[feat_cols] # FEATURES column
y_sheriff_df = filter_sheriff_df[label_col] # LABELS

print(sheriff_df.shape[0] - X_sheriff_df.shape[0], "rows were filtered out!")
print("We still have", X_sheriff_df.shape[0], "left :)")

0 rows were filtered out!
We still have 161431 left :)

### Print out FEATURE columns

In [7]:
X_sheriff_df.head()

,CRIME_DATE,CRIME_YEAR,CITY,LATITUDE,LONGITUDE,REPORTING_DISTRICT,CRIME_IDENTIFIER,LOCATION
0,01/08/2017 11:01:30 AM,2017,LANCASTER,34.686938,-118.123960,1133,18052353,"44240 4TH ST E\nLANCASTER, CA\n(34.68693834371..."
1,10/09/2016 01:10:00 PM,2016,COMPTON,33.905762,-118.235033,3803,17945511,"610 W PEACH ST\nCOMPTON, CA 90222\n(33.9057622..."
2,07/30/2017 12:07:00 PM,2017,ROWLAND HEIGHTS,33.992394,-117.900487,2931,18284061,"1400 JELLICK AVE\nROWLAND HEIGHTS, CA 91748\n(..."
4,08/06/2017 05:08:00 AM,2017,PALMDALE,34.575819,-118.086240,2608,18290960,"38120 25TH ST E\nPALMDALE, CA\n(34.57581869898..."
8,07/21/2017 10:07:00 AM,2017,NORWALK,33.891167,-118.103922,455,18275055,"DUMONT AVE AND BARNWALL ST\nNORWALK, CA 90650\..."

### Print out LABEL column

In [8]:
y_sheriff_df.head()

   CRIME_CATEGORY_NUMBER
0                      6
1                     23
2                      6
4                      5
8                     16

### Print size/shape of FEATURE and LABEL columns

In [9]:
print(X_sheriff_df.shape)
print(y_sheriff_df.shape)

(161431, 8)
(161431, 1)

## Preprocessing

### Show the column features

In [10]:
X_crime_feature_cols = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER', 'CRIME_CATEGORY_DESCRIPTION']
X_crime_location_feature_cols = ['STREET', 'CITY', 'STATE', 'ZIP', 'LATITUDE', 'LONGITUDE']
X_station_feature_cols = ['REPORTING_DISTRICT', 'STATION_IDENTIFIER', 'STATION_NAME', 'CRIME_IDENTIFIER', 'LOCATION']

crime_df = X_sheriff_df.loc[:,X_crime_feature_cols]
#print(crime_df)
#crime_location_df = X.loc[:,X_crime_location_feature_cols]
#station_location_df = X.loc[:,X_station_feature_cols]

#century_station_df = station_location_df[station_location_df["STATION_NAME"] == "CENTURY"]
#all_century_df = X[X["STATION_NAME"] == "CENTURY"]
#all_century_df[::1000]

#date = all_century_df["CRIME_DATE"]
#print(date.values[0] )
#print(date.values[1] )
#print(date.head() )

### Define month dict

In [11]:
month_dict = {
    "01": "January",
    "02": "February",
    "03": "March",
    "04": "April",
    "05": "May",
    "06": "June",
    "07": "July",
    "08": "August",
    "09": "September",
    "10": "October",
    "11": "November",
    "12": "December"
}

# ORIGINAL DATE CODE
---
Some code might not work since some vars were commented out above

## HERE IS THE NEWLY ADDED CODE FOR SPLITTING DATE

In [26]:
#First we are just getting the date of the crime here
sheriff_df['DATE'] = sheriff_df.CRIME_DATE.str.split('\s+').str[0]
sheriff_df['MONTH'] = sheriff_df['DATE'].str.split("/").str[0]
sheriff_df['DAY'] = sheriff_df['DATE'].str.split("/").str[1]

print(sheriff_df['MONTH'].head())
print(sheriff_df['DAY'].head())
print(sheriff_df['DATE'].head())
#Now we can get the time of the crime and convert it to 24 hour time
sheriff_df['TIME24'] = pd.to_datetime(sheriff_df['CRIME_DATE'], format='%m/%d/%Y %I:%M:%S %p').dt.time

#testing new columns for DATE and TIME24
date_split = ['DATE', 'TIME24']

#DISPLAYING DATE AND TIME24
#print (sheriff_df[date_split])

0    01
1    10
2    07
4    08
8    07
Name: MONTH, dtype: object
0    08
1    09
2    30
4    06
8    21
Name: DAY, dtype: object
0    01/08/2017
1    10/09/2016
2    07/30/2017
4    08/06/2017
8    07/21/2017
Name: DATE, dtype: object

## DISPLAYING THE NEWLY SPLIT DATE AND TIME ALONG WITH OTHER FEATURES

In [13]:
features = ['DATE', 'TIME24', 'CRIME_YEAR', 'LATITUDE', 'LONGITUDE', 'CITY']
label = ['CRIME_CATEGORY_DESCRIPTION']

x = sheriff_df[features]
y = sheriff_df[label]

#print(x)

code to split up the date and time. also changes 12-hour time to 24 hour time

In [14]:
X_crime_feature_cols_mod = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER', 'CRIME_CATEGORY_DESCRIPTION']
#a = pd.get_dummies(all_century_df[X_crime_feature_cols_mod])
#a[::1000]

# END OF ORIGINAL DATE CODE
---

### wat

In [15]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[2])
# http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder
#n = ohe.fit_transform(all_century_df)

upper_feat = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER',
       'CRIME_CATEGORY_DESCRIPTION', 'STATISTICAL_CODE',
       'STATISTICAL_CODE_DESCRIPTION', 'VICTIM_COUNT', 'STREET', 'CITY',
       'STATE', 'ZIP', 'LATITUDE', 'LONGITUDE', 'GANG_RELATED',
       'REPORTING_DISTRICT', 'STATION_IDENTIFIER', 'STATION_NAME',
       'CRIME_IDENTIFIER', 'LOCATION']