# Sheriff Crime Data

1. Import DATA
  * Show the data
  * Check size/shape
2. fsl
  * dis

## Import the data

In [170]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

sheriff_df = pd.read_csv("LA_SHERIFF__CRIMES_-_LAST_12_MONTHS.csv")

### Print it out

In [171]:
sheriff_df[::20000]

,CRIME_DATE,CRIME_YEAR,CRIME_CATEGORY_NUMBER,CRIME_CATEGORY_DESCRIPTION,STATISTICAL_CODE,STATISTICAL_CODE_DESCRIPTION,VICTIM_COUNT,STREET,CITY,STATE,ZIP,LATITUDE,LONGITUDE,GANG_RELATED,REPORTING_DISTRICT,STATION_IDENTIFIER,STATION_NAME,CRIME_IDENTIFIER,LOCATION
0,01/08/2017 11:01:30 AM,2017,6,LARCENY THEFT,389,"THEFT, PETTY: Other (From Prvt Res, Boat, Plan...",1,44240 4TH ST E,LANCASTER,CA,NaN,34.686938,-118.123960,N,1133,CA0190024,LANCASTER,18052353,"44240 4TH ST E\nLANCASTER, CA\n(34.68693834371..."
20000,12/07/2016 04:12:00 AM,2016,24,VANDALISM,263,VANDALISM FELONY,1,610 W CORREGIDOR ST,COMPTON,CA,90220.0,33.889429,-118.232992,N,2835,CA0190042,COMPTON,17987318,"610 W CORREGIDOR ST\nCOMPTON, CA 90220\n(33.88..."
40000,05/24/2017 02:05:00 PM,2017,7,GRAND THEFT AUTO,91,GRAND THEFT VEHICLE (GTA): Automobile/Passenge...,1,9300 SIERRA VISTA DR,PICO RIVERA,CA,NaN,33.967714,-118.098478,N,1518,CA0190015,PICO RIVERA,18216008,"9300 SIERRA VISTA DR\nPICO RIVERA, CA\n(33.967..."
60000,03/25/2017 08:03:00 AM,2017,7,GRAND THEFT AUTO,91,GRAND THEFT VEHICLE (GTA): Automobile/Passenge...,1,9930 CEDAR ST,BELLFLOWER,CA,90706.0,33.871000,-118.122006,N,1335,CA0190013,LAKEWOOD,18151622,"9930 CEDAR ST\nBELLFLOWER, CA 90706\n(33.87099..."
80000,10/19/2016 04:10:00 AM,2016,5,BURGLARY,71,"BURGLARY, OTHER STRUCTURE: Night, Entry By Force",1,9010 SLAUSON AVE,PICO RIVERA,CA,90660.0,33.971104,-118.104307,N,1517,CA0190015,PICO RIVERA,17939209,"9010 SLAUSON AVE\nPICO RIVERA, CA 90660\n(33.9..."
100000,11/11/2016 03:11:00 PM,2016,16,NARCOTICS,183,Under The Influence Of Narcotic 11550 HS. Does...,1,5300 WHITTIER BLVD,LOS ANGELES,CA,90022.0,34.020380,-118.155995,N,286,CA0190002,EAST LOS ANGELES,17963711,"5300 WHITTIER BLVD\nLOS ANGELES, CA 90022\n(34..."
120000,07/17/2017 11:07:00 AM,2017,24,VANDALISM,263,VANDALISM FELONY,1,14340 PIONEER BLVD,NORWALK,CA,NaN,33.901496,-118.082564,N,455,CA0190004,NORWALK,18275408,"14340 PIONEER BLVD\nNORWALK, CA\n(33.901495512..."
140000,11/16/2016 12:11:00 AM,2016,10,FRAUD AND NSF CHECKS,117,IDENTITY THEFT (GOODS/SERVICES/CREDIT),1,16800 ARROW HWY,AZUSA,CA,91702.0,34.107291,-117.918695,N,867,CA0190008,SAN DIMAS,18180858,"16800 ARROW HWY\nAZUSA, CA 91702\n(34.10729138..."
160000,09/15/2017 01:09:00 PM,2017,13,NON-AGGRAVATED ASSAULTS,144,"ASSAULT, NON-AGG: Hands, Feet, Fist, Etc.",1,21900 S MONETA AVE,CARSON,CA,90745.0,33.829081,-118.282963,N,1617,CA0190016,CARSON,18333379,"21900 S MONETA AVE\nCARSON, CA 90745\n(33.8290..."

### Print size/shape of Dataset

In [172]:
print(sheriff_df.shape)

(170480, 19)

### Define features and label

In [173]:
'''
all_columns = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER',
       'CRIME_CATEGORY_DESCRIPTION', 'STATISTICAL_CODE',
       'STATISTICAL_CODE_DESCRIPTION', 'VICTIM_COUNT', 'STREET', 'CITY',
       'STATE', 'ZIP', 'LATITUDE', 'LONGITUDE', 'GANG_RELATED',
       'REPORTING_DISTRICT', 'STATION_IDENTIFIER', 'STATION_NAME',
       'CRIME_IDENTIFIER', 'LOCATION']
'''

# edit feature columns to include here
feat_cols = ['CRIME_DATE', 'CRIME_YEAR',
             'CITY', 'ZIP', 'LATITUDE', 'LONGITUDE', 'GANG_RELATED',
             'REPORTING_DISTRICT', 'STATION_IDENTIFIER', 'STATION_NAME',
             'CRIME_IDENTIFIER', 'LOCATION']

label_col = ["CRIME_CATEGORY_NUMBER"]

#### Mapping CRIME_CATEGORY_DESCRIPTION to CRIME_CATEGORY_NUMBER, and reverse (Might be useful later)

In [174]:
'''
class_mapping = {label:id_num for id_num, label in enumerate(np.unique(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"]) )}
print(class_mapping) # returns as dict obj - maybe below is better

# or

class_le = LabelEncoder() # does above automatically; but returns as numpy array
y_map = class_le.fit_transform(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"])
print(y_map)
y_inverse = class_le.inverse_transform(y_map) # undo transform - back to string
print(y_inverse)
'''

'\nclass_mapping = {label:id_num for id_num, label in enumerate(np.unique(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"]) )}\nprint(class_mapping) # returns as dict obj - maybe below is better\n\n# or\n\nclass_le = LabelEncoder() # does above automatically; but returns as numpy array\ny_map = class_le.fit_transform(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"])\nprint(y_map)\ny_inverse = class_le.inverse_transform(y_map) # undo transform - back to string\nprint(y_inverse)\n'

### Assign FEATURES and LABELS
#### _Note_ : Rows where CITY feature/value is missing are filtered out

In [175]:
filter_sheriff_df = sheriff_df[pd.notnull(sheriff_df['CITY']) ] # filter out rows where CITY value is missing

X_sheriff_df = filter_sheriff_df[feat_cols] # FEATURES column
y_sheriff_df = filter_sheriff_df[label_col] # LABELS

print(sheriff_df.shape[0] - X_sheriff_df.shape[0], "rows were filtered out!")
print("We still have", X_sheriff_df.shape[0], "left :)")

3119 rows were filtered out!
We still have 167361 left :)

### Print out FEATURE columns

In [176]:
X_sheriff_df.head()

,CRIME_DATE,CRIME_YEAR,CITY,ZIP,LATITUDE,LONGITUDE,GANG_RELATED,REPORTING_DISTRICT,STATION_IDENTIFIER,STATION_NAME,CRIME_IDENTIFIER,LOCATION
0,01/08/2017 11:01:30 AM,2017,LANCASTER,NaN,34.686938,-118.123960,N,1133,CA0190024,LANCASTER,18052353,"44240 4TH ST E\nLANCASTER, CA\n(34.68693834371..."
1,10/09/2016 01:10:00 PM,2016,COMPTON,90222.0,33.905762,-118.235033,N,3803,CA01900V1,TRAP,17945511,"610 W PEACH ST\nCOMPTON, CA 90222\n(33.9057622..."
2,07/30/2017 12:07:00 PM,2017,ROWLAND HEIGHTS,91748.0,33.992394,-117.900487,N,2931,CA0190020,WALNUT,18284061,"1400 JELLICK AVE\nROWLAND HEIGHTS, CA 91748\n(..."
4,08/06/2017 05:08:00 AM,2017,PALMDALE,NaN,34.575819,-118.086240,N,2608,CA01900W9,PALMDALE,18290960,"38120 25TH ST E\nPALMDALE, CA\n(34.57581869898..."
6,07/12/2017 10:07:00 AM,2017,CHATSWORTH,NaN,NaN,NaN,N,2255,CA0190022,MALIBU/LOST HILLS,18265803,"WOOLSEY CANYON RD AND LAKE MANOR\nCHATSWORTH, ..."

### Print out LABEL column

In [177]:
y_sheriff_df.head()

   CRIME_CATEGORY_NUMBER
0                      6
1                     23
2                      6
4                      5
6                     23

### Print size/shape of FEATURE and LABEL columns

In [178]:
print(X_sheriff_df.shape)
print(y_sheriff_df.shape)

(167361, 12)
(167361, 1)

## Preprocessing

### Show the column features

In [179]:
X_crime_feature_cols = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER', 'CRIME_CATEGORY_DESCRIPTION']
X_crime_location_feature_cols = ['STREET', 'CITY', 'STATE', 'ZIP', 'LATITUDE', 'LONGITUDE']
X_station_feature_cols = ['REPORTING_DISTRICT', 'STATION_IDENTIFIER', 'STATION_NAME', 'CRIME_IDENTIFIER', 'LOCATION']

crime_df = X_sheriff_df.loc[:,X_crime_feature_cols]
print(crime_df)
crime_location_df = X.loc[:,X_crime_location_feature_cols]
station_location_df = X.loc[:,X_station_feature_cols]

#century_station_df = station_location_df[station_location_df["STATION_NAME"] == "CENTURY"]
#all_century_df = X[X["STATION_NAME"] == "CENTURY"]
#all_century_df[::1000]

date = all_century_df["CRIME_DATE"]
#print(date.values[0] )
#print(date.values[1] )
#print(date.head() )

                    CRIME_DATE  CRIME_YEAR  CRIME_CATEGORY_NUMBER  \
0       01/08/2017 11:01:30 AM        2017                    NaN
1       10/09/2016 01:10:00 PM        2016                    NaN
2       07/30/2017 12:07:00 PM        2017                    NaN
4       08/06/2017 05:08:00 AM        2017                    NaN
6       07/12/2017 10:07:00 AM        2017                    NaN
7       06/02/2017 12:06:00 PM        2017                    NaN
8       07/21/2017 10:07:00 AM        2017                    NaN
9       05/12/2017 06:05:00 PM        2017                    NaN
10      12/06/2016 06:12:00 AM        2016                    NaN
11      09/18/2017 07:09:00 PM        2017                    NaN
12      03/28/2017 12:03:30 PM        2017                    NaN
14      05/16/2017 08:05:00 PM        2017                    NaN
16      07/30/2017 09:07:00 PM        2017                    NaN
18      06/28/2017 11:06:00 AM        2017                    NaN
19      11/10/2016 06:11:00 PM        2016                    NaN
20      02/17/2017 11:02:30 AM        2017                    NaN
21      07/22/2017 09:07:00 PM        2017                    NaN
23      03/21/2017 06:03:00 AM        2017                    NaN
25      10/29/2016 04:10:00 PM        2016                    NaN
27      11/26/2016 08:11:00 AM        2016                    NaN
28      03/15/2017 03:03:00 PM        2017                    NaN
29      03/04/2017 08:03:00 PM        2017                    NaN
30      05/15/2017 12:05:00 PM        2017                    NaN
31      05/31/2017 04:05:00 PM        2017                    NaN
33      06/16/2017 04:06:00 AM        2017                    NaN
37      01/12/2017 10:01:13 AM        2017                    NaN
38      06/16/2017 07:06:00 PM        2017                    NaN
39      07/24/2017 05:07:00 PM        2017                    NaN
40      03/27/2017 11:03:00 AM        2017                    NaN
45      03/30/2017 06:03:00 PM        2017                    NaN
...                        ...         ...                    ...
170445  11/29/2016 02:11:00 PM        2016                    NaN
170446  12/27/2016 06:12:06 AM        2016                    NaN
170447  12/12/2016 03:12:00 AM        2016                    NaN
170448  12/08/2016 01:12:00 AM        2016                    NaN
170450  12/27/2016 06:12:01 AM        2016                    NaN
170451  12/20/2016 04:12:00 PM        2016                    NaN
170453  12/25/2016 04:12:00 AM        2016                    NaN
170454  12/27/2016 10:12:00 AM        2016                    NaN
170455  12/15/2016 08:12:00 AM        2016                    NaN
170456  12/27/2016 05:12:00 PM        2016                    NaN
170458  12/26/2016 10:12:00 PM        2016                    NaN
170459  12/24/2016 02:12:00 AM        2016                    NaN
170460  12/26/2016 01:12:23 AM        2016                    NaN
170461  12/25/2016 01:12:00 PM        2016                    NaN
170462  12/20/2016 03:12:00 PM        2016                    NaN
170463  12/26/2016 03:12:00 PM        2016                    NaN
170464  12/27/2016 06:12:22 AM        2016                    NaN
170465  12/26/2016 03:12:00 AM        2016                    NaN
170466  12/07/2016 11:12:00 AM        2016                    NaN
170467  12/27/2016 06:12:25 AM        2016                    NaN
170468  12/26/2016 10:12:00 PM        2016                    NaN
170469  12/26/2016 05:12:00 PM        2016                    NaN
170470  12/24/2016 07:12:00 PM        2016                    NaN
170471  12/25/2016 11:12:00 AM        2016                    NaN
170472  12/22/2016 02:12:00 PM        2016                    NaN
170473  12/23/2016 03:12:48 PM        2016                    NaN
170474  12/21/2016 10:12:00 AM        2016                    NaN
170475  12/23/2016 01:12:00 AM        2016                    NaN
170477  12/27/2016 03:12:21 AM        2016                    NaN
170479  12/11/2016 06:12:00 PM        2016                    NaN

        CRIME_CATEGORY_DESCRIPTION
0                              NaN
1                              NaN
2                              NaN
4                              NaN
6                              NaN
7                              NaN
8                              NaN
9                              NaN
10                             NaN
11                             NaN
12                             NaN
14                             NaN
16                             NaN
18                             NaN
19                             NaN
20                             NaN
21                             NaN
23                             NaN
25                             NaN
27                             NaN
28                             NaN
29                             NaN
30                             NaN
31                             NaN
33                             NaN
37                             NaN
38                             NaN
39                             NaN
40                             NaN
45                             NaN
...                            ...
170445                         NaN
170446                         NaN
170447                         NaN
170448                         NaN
170450                         NaN
170451                         NaN
170453                         NaN
170454                         NaN
170455                         NaN
170456                         NaN
170458                         NaN
170459                         NaN
170460                         NaN
170461                         NaN
170462                         NaN
170463                         NaN
170464                         NaN
170465                         NaN
170466                         NaN
170467                         NaN
170468                         NaN
170469                         NaN
170470                         NaN
170471                         NaN
170472                         NaN
170473                         NaN
170474                         NaN
170475                         NaN
170477                         NaN
170479                         NaN

[167361 rows x 4 columns]

### Define month dict

In [164]:
month_dict = {
    "01": "January",
    "02": "February",
    "03": "March",
    "04": "April",
    "05": "May",
    "06": "June",
    "07": "July",
    "08": "August",
    "09": "September",
    "10": "October",
    "11": "November",
    "12": "December"
}

## HERE IS THE NEWLY ADDED CODE FOR SPLITTING DATE

In [18]:
#First we are just getting the date of the crime here
sheriff_df['DATE'] = sheriff_df.CRIME_DATE.str.split('\s+').str[0]

#Now we can get the time of the crime and convert it to 24 hour time
sheriff_df['TIME24'] = pd.to_datetime(sheriff_df['CRIME_DATE'], format='%m/%d/%Y %I:%M:%S %p').dt.time

#testing new columns for DATE and TIME24
date_split = ['DATE', 'TIME24']

#DISPLAYING DATE AND TIME24
print (sheriff_df[date_split])

              DATE    TIME24
0       01/08/2017  11:01:30
1       10/09/2016  13:10:00
2       07/30/2017  12:07:00
3       06/18/2017  11:06:43
4       08/06/2017  05:08:00
5       09/28/2017  10:09:44
6       07/12/2017  10:07:00
7       06/02/2017  12:06:00
8       07/21/2017  10:07:00
9       05/12/2017  18:05:00
10      12/06/2016  06:12:00
11      09/18/2017  19:09:00
12      03/28/2017  12:03:30
13      09/01/2017  22:09:13
14      05/16/2017  20:05:00
15      09/22/2017  02:09:24
16      07/30/2017  21:07:00
17      06/20/2017  08:06:00
18      06/28/2017  11:06:00
19      11/10/2016  18:11:00
20      02/17/2017  11:02:30
21      07/22/2017  21:07:00
22      07/12/2017  17:07:42
23      03/21/2017  06:03:00
24      09/30/2017  06:09:09
25      10/29/2016  16:10:00
26      07/15/2017  12:07:00
27      11/26/2016  08:11:00
28      03/15/2017  15:03:00
29      03/04/2017  20:03:00
...            ...       ...
170450  12/27/2016  06:12:01
170451  12/20/2016  16:12:00
170452  11/17/2016  15:11:30
170453  12/25/2016  04:12:00
170454  12/27/2016  10:12:00
170455  12/15/2016  08:12:00
170456  12/27/2016  17:12:00
170457  12/26/2016  17:12:00
170458  12/26/2016  22:12:00
170459  12/24/2016  02:12:00
170460  12/26/2016  01:12:23
170461  12/25/2016  13:12:00
170462  12/20/2016  15:12:00
170463  12/26/2016  15:12:00
170464  12/27/2016  06:12:22
170465  12/26/2016  03:12:00
170466  12/07/2016  11:12:00
170467  12/27/2016  06:12:25
170468  12/26/2016  22:12:00
170469  12/26/2016  17:12:00
170470  12/24/2016  19:12:00
170471  12/25/2016  11:12:00
170472  12/22/2016  14:12:00
170473  12/23/2016  15:12:48
170474  12/21/2016  10:12:00
170475  12/23/2016  01:12:00
170476  12/09/2016  10:12:00
170477  12/27/2016  03:12:21
170478  12/26/2016  23:12:00
170479  12/11/2016  18:12:00

[170480 rows x 2 columns]

In [8]:
print(all_century_df.shape)

(12093, 19)

## DISPLAYING THE NEWLY SPLIT DATE AND TIME ALONG WITH OTHER FEATURES

In [15]:
features = ['DATE', 'TIME24', 'CRIME_YEAR', 'LATITUDE', 'LONGITUDE', 'CITY']
label = ['CRIME_CATEGORY_DESCRIPTION']

x = sheriff_df[features]
y = sheriff_df[label]

print (x)

              DATE    TIME24  CRIME_YEAR   LATITUDE   LONGITUDE  \
0       01/08/2017  11:01:30        2017  34.686938 -118.123960
1       10/09/2016  13:10:00        2016  33.905762 -118.235033
2       07/30/2017  12:07:00        2017  33.992394 -117.900487
3       06/18/2017  11:06:43        2017        NaN         NaN
4       08/06/2017  05:08:00        2017  34.575819 -118.086240
5       09/28/2017  10:09:44        2017        NaN         NaN
6       07/12/2017  10:07:00        2017        NaN         NaN
7       06/02/2017  12:06:00        2017        NaN         NaN
8       07/21/2017  10:07:00        2017  33.891167 -118.103922
9       05/12/2017  18:05:00        2017        NaN         NaN
10      12/06/2016  06:12:00        2016  34.124928 -117.812606
11      09/18/2017  19:09:00        2017        NaN         NaN
12      03/28/2017  12:03:30        2017        NaN         NaN
13      09/01/2017  22:09:13        2017        NaN         NaN
14      05/16/2017  20:05:00        2017        NaN         NaN
15      09/22/2017  02:09:24        2017        NaN         NaN
16      07/30/2017  21:07:00        2017        NaN         NaN
17      06/20/2017  08:06:00        2017        NaN         NaN
18      06/28/2017  11:06:00        2017  34.049367 -118.058705
19      11/10/2016  18:11:00        2016        NaN         NaN
20      02/17/2017  11:02:30        2017        NaN         NaN
21      07/22/2017  21:07:00        2017        NaN         NaN
22      07/12/2017  17:07:42        2017        NaN         NaN
23      03/21/2017  06:03:00        2017        NaN         NaN
24      09/30/2017  06:09:09        2017        NaN         NaN
25      10/29/2016  16:10:00        2016        NaN         NaN
26      07/15/2017  12:07:00        2017        NaN         NaN
27      11/26/2016  08:11:00        2016        NaN         NaN
28      03/15/2017  15:03:00        2017        NaN         NaN
29      03/04/2017  20:03:00        2017        NaN         NaN
...            ...       ...         ...        ...         ...
170450  12/27/2016  06:12:01        2016        NaN         NaN
170451  12/20/2016  16:12:00        2016        NaN         NaN
170452  11/17/2016  15:11:30        2016        NaN         NaN
170453  12/25/2016  04:12:00        2016        NaN         NaN
170454  12/27/2016  10:12:00        2016        NaN         NaN
170455  12/15/2016  08:12:00        2016        NaN         NaN
170456  12/27/2016  17:12:00        2016        NaN         NaN
170457  12/26/2016  17:12:00        2016        NaN         NaN
170458  12/26/2016  22:12:00        2016        NaN         NaN
170459  12/24/2016  02:12:00        2016        NaN         NaN
170460  12/26/2016  01:12:23        2016        NaN         NaN
170461  12/25/2016  13:12:00        2016        NaN         NaN
170462  12/20/2016  15:12:00        2016        NaN         NaN
170463  12/26/2016  15:12:00        2016        NaN         NaN
170464  12/27/2016  06:12:22        2016        NaN         NaN
170465  12/26/2016  03:12:00        2016        NaN         NaN
170466  12/07/2016  11:12:00        2016        NaN         NaN
170467  12/27/2016  06:12:25        2016        NaN         NaN
170468  12/26/2016  22:12:00        2016        NaN         NaN
170469  12/26/2016  17:12:00        2016        NaN         NaN
170470  12/24/2016  19:12:00        2016        NaN         NaN
170471  12/25/2016  11:12:00        2016        NaN         NaN
170472  12/22/2016  14:12:00        2016        NaN         NaN
170473  12/23/2016  15:12:48        2016        NaN         NaN
170474  12/21/2016  10:12:00        2016        NaN         NaN
170475  12/23/2016  01:12:00        2016        NaN         NaN
170476  12/09/2016  10:12:00        2016        NaN         NaN
170477  12/27/2016  03:12:21        2016        NaN         NaN
170478  12/26/2016  23:12:00        2016        NaN         NaN
170479  12/11/2016  18:12:00        2016        NaN         NaN

                       CITY
0                 LANCASTER
1                   COMPTON
2           ROWLAND HEIGHTS
3                       NaN
4                  PALMDALE
5                       NaN
6                CHATSWORTH
7                  TORRANCE
8                   NORWALK
9              BALDWIN PARK
10                SAN DIMAS
11                 ROSEMEAD
12              LOS ANGELES
13                      NaN
14              LOS ANGELES
15                      NaN
16                   DUARTE
17                      NaN
18           SOUTH EL MONTE
19                 ROSEMEAD
20                  HOUSTON
21         RANCHO CUCAMONGA
22                      NaN
23                LANCASTER
24                      NaN
25               BELLFLOWER
26                      NaN
27                   DUARTE
28           WOODLAND HILLS
29                   LOMITA
...                     ...
170450          LOS ANGELES
170451             EL MONTE
170452                  NaN
170453            LA MIRADA
170454            LA CANADA
170455  RANCHO PALOS VERDES
170456             WHITTIER
170457                  NaN
170458             PALMDALE
170459             WHITTIER
170460    LAKE VIEW TERRACE
170461          LOS ANGELES
170462      HUNTINGTON PARK
170463          SAN GABRIEL
170464           LONG BEACH
170465            CALABASAS
170466               LOMITA
170467            LANCASTER
170468                ACTON
170469      HUNTINGTON PARK
170470          LOS ANGELES
170471       CANYON COUNTRY
170472            LANCASTER
170473              COMPTON
170474              LYNWOOD
170475              CASTAIC
170476                  NaN
170477              COMPTON
170478                  NaN
170479              NORWALK

[170480 rows x 6 columns]

code to split up the date and time. also changes 12-hour time to 24 hour time

In [10]:
X_crime_feature_cols_mod = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER', 'CRIME_CATEGORY_DESCRIPTION']
#a = pd.get_dummies(all_century_df[X_crime_feature_cols_mod])
a[::1000]

0         11:01:30
1         13:10:00
2         12:07:00
3         11:06:43
4         05:08:00
5         10:09:44
6         10:07:00
7         12:06:00
8         10:07:00
9         18:05:00
10        06:12:00
11        19:09:00
12        12:03:30
13        22:09:13
14        20:05:00
15        02:09:24
16        21:07:00
17        08:06:00
18        11:06:00
19        18:11:00
20        11:02:30
21        21:07:00
22        17:07:42
23        06:03:00
24        06:09:09
25        16:10:00
26        12:07:00
27        08:11:00
28        15:03:00
29        20:03:00
            ...
170450    06:12:01
170451    16:12:00
170452    15:11:30
170453    04:12:00
170454    10:12:00
170455    08:12:00
170456    17:12:00
170457    17:12:00
170458    22:12:00
170459    02:12:00
170460    01:12:23
170461    13:12:00
170462    15:12:00
170463    15:12:00
170464    06:12:22
170465    03:12:00
170466    11:12:00
170467    06:12:25
170468    22:12:00
170469    17:12:00
170470    19:12:00
170471    11:12:00
170472    14:12:00
170473    15:12:48
170474    10:12:00
170475    01:12:00
170476    10:12:00
170477    03:12:21
170478    23:12:00
170479    18:12:00
Name: TIME24, dtype: object
0         01/08/2017
1         10/09/2016
2         07/30/2017
3         06/18/2017
4         08/06/2017
5         09/28/2017
6         07/12/2017
7         06/02/2017
8         07/21/2017
9         05/12/2017
10        12/06/2016
11        09/18/2017
12        03/28/2017
13        09/01/2017
14        05/16/2017
15        09/22/2017
16        07/30/2017
17        06/20/2017
18        06/28/2017
19        11/10/2016
20        02/17/2017
21        07/22/2017
22        07/12/2017
23        03/21/2017
24        09/30/2017
25        10/29/2016
26        07/15/2017
27        11/26/2016
28        03/15/2017
29        03/04/2017
             ...
170450    12/27/2016
170451    12/20/2016
170452    11/17/2016
170453    12/25/2016
170454    12/27/2016
170455    12/15/2016
170456    12/27/2016
170457    12/26/2016
170458    12/26/2016
170459    12/24/2016
170460    12/26/2016
170461    12/25/2016
170462    12/20/2016
170463    12/26/2016
170464    12/27/2016
170465    12/26/2016
170466    12/07/2016
170467    12/27/2016
170468    12/26/2016
170469    12/26/2016
170470    12/24/2016
170471    12/25/2016
170472    12/22/2016
170473    12/23/2016
170474    12/21/2016
170475    12/23/2016
170476    12/09/2016
170477    12/27/2016
170478    12/26/2016
170479    12/11/2016
Name: DATE, dtype: object

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[2])
# http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder
#n = ohe.fit_transform(all_century_df)

upper_feat = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER',
       'CRIME_CATEGORY_DESCRIPTION', 'STATISTICAL_CODE',
       'STATISTICAL_CODE_DESCRIPTION', 'VICTIM_COUNT', 'STREET', 'CITY',
       'STATE', 'ZIP', 'LATITUDE', 'LONGITUDE', 'GANG_RELATED',
       'REPORTING_DISTRICT', 'STATION_IDENTIFIER', 'STATION_NAME',
       'CRIME_IDENTIFIER', 'LOCATION']