# Sheriff Crime Data

1. Import DATA
  * Show the data
  * Check size/shape
2. this
  * dis
3. Preprocessing
  * Date conversion
    * One-Hot-Encode MONTHS
      * Create a mapping function or dictionary (use LabelEncoder(); ez)
      * then o.h.e.
    * One-Hot-Encode DAY?
      * create a range so it's not so much?
        * example (1 - 10, 11 - 20, 21 - 31); 3 categories
      * then o.h.e
    * One-Hot_Encode TIME?
      * same as DAY.. create categories/range
        * (morning, 0:00 - 11:59a), (afternoon, 12 - 5:59p), (evening, 6 - 11:59p)
        * or more specific?
      * then o.h.e
    * YEAR.... ez

## Import the data

In [98]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

sheriff_df = pd.read_csv("LA_SHERIFF__CRIMES_-_LAST_12_MONTHS.csv")
#sheriff_df = sheriff_df[pd.notnull(sheriff_df['LATITUDE'])] # why?? this is done below; but city is used

### Print it out

In [99]:
sheriff_df[::20000]

,CRIME_DATE,CRIME_YEAR,CRIME_CATEGORY_NUMBER,CRIME_CATEGORY_DESCRIPTION,STATISTICAL_CODE,STATISTICAL_CODE_DESCRIPTION,VICTIM_COUNT,STREET,CITY,STATE,ZIP,LATITUDE,LONGITUDE,GANG_RELATED,REPORTING_DISTRICT,STATION_IDENTIFIER,STATION_NAME,CRIME_IDENTIFIER,LOCATION
0,01/08/2017 11:01:30 AM,2017,6,LARCENY THEFT,389,"THEFT, PETTY: Other (From Prvt Res, Boat, Plan...",1,44240 4TH ST E,LANCASTER,CA,NaN,34.686938,-118.123960,N,1133,CA0190024,LANCASTER,18052353,"44240 4TH ST E\nLANCASTER, CA\n(34.68693834371..."
20000,12/07/2016 04:12:00 AM,2016,24,VANDALISM,263,VANDALISM FELONY,1,610 W CORREGIDOR ST,COMPTON,CA,90220.0,33.889429,-118.232992,N,2835,CA0190042,COMPTON,17987318,"610 W CORREGIDOR ST\nCOMPTON, CA 90220\n(33.88..."
40000,05/24/2017 02:05:00 PM,2017,7,GRAND THEFT AUTO,91,GRAND THEFT VEHICLE (GTA): Automobile/Passenge...,1,9300 SIERRA VISTA DR,PICO RIVERA,CA,NaN,33.967714,-118.098478,N,1518,CA0190015,PICO RIVERA,18216008,"9300 SIERRA VISTA DR\nPICO RIVERA, CA\n(33.967..."
60000,03/25/2017 08:03:00 AM,2017,7,GRAND THEFT AUTO,91,GRAND THEFT VEHICLE (GTA): Automobile/Passenge...,1,9930 CEDAR ST,BELLFLOWER,CA,90706.0,33.871000,-118.122006,N,1335,CA0190013,LAKEWOOD,18151622,"9930 CEDAR ST\nBELLFLOWER, CA 90706\n(33.87099..."
80000,10/19/2016 04:10:00 AM,2016,5,BURGLARY,71,"BURGLARY, OTHER STRUCTURE: Night, Entry By Force",1,9010 SLAUSON AVE,PICO RIVERA,CA,90660.0,33.971104,-118.104307,N,1517,CA0190015,PICO RIVERA,17939209,"9010 SLAUSON AVE\nPICO RIVERA, CA 90660\n(33.9..."
100000,11/11/2016 03:11:00 PM,2016,16,NARCOTICS,183,Under The Influence Of Narcotic 11550 HS. Does...,1,5300 WHITTIER BLVD,LOS ANGELES,CA,90022.0,34.020380,-118.155995,N,286,CA0190002,EAST LOS ANGELES,17963711,"5300 WHITTIER BLVD\nLOS ANGELES, CA 90022\n(34..."
120000,07/17/2017 11:07:00 AM,2017,24,VANDALISM,263,VANDALISM FELONY,1,14340 PIONEER BLVD,NORWALK,CA,NaN,33.901496,-118.082564,N,455,CA0190004,NORWALK,18275408,"14340 PIONEER BLVD\nNORWALK, CA\n(33.901495512..."
140000,11/16/2016 12:11:00 AM,2016,10,FRAUD AND NSF CHECKS,117,IDENTITY THEFT (GOODS/SERVICES/CREDIT),1,16800 ARROW HWY,AZUSA,CA,91702.0,34.107291,-117.918695,N,867,CA0190008,SAN DIMAS,18180858,"16800 ARROW HWY\nAZUSA, CA 91702\n(34.10729138..."
160000,09/15/2017 01:09:00 PM,2017,13,NON-AGGRAVATED ASSAULTS,144,"ASSAULT, NON-AGG: Hands, Feet, Fist, Etc.",1,21900 S MONETA AVE,CARSON,CA,90745.0,33.829081,-118.282963,N,1617,CA0190016,CARSON,18333379,"21900 S MONETA AVE\nCARSON, CA 90745\n(33.8290..."

### Print size/shape of Dataset

In [100]:
print(sheriff_df.shape)

(170480, 19)

### Define features and label

In [101]:
''' # saved for convenience; might be useful if we try k-means clustering.. if we have time

all_columns = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER',
       'CRIME_CATEGORY_DESCRIPTION', 'STATISTICAL_CODE',
       'STATISTICAL_CODE_DESCRIPTION', 'VICTIM_COUNT', 'STREET', 'CITY',
       'STATE', 'ZIP', 'LATITUDE', 'LONGITUDE', 'GANG_RELATED',
       'REPORTING_DISTRICT', 'STATION_IDENTIFIER', 'STATION_NAME',
       'CRIME_IDENTIFIER', 'LOCATION']
'''

# edit features to include here
feat_cols = ['CRIME_DATE', 'CRIME_YEAR', 'CITY']

label_col = ["CRIME_CATEGORY_NUMBER"]

#### Mapping CRIME_CATEGORY_DESCRIPTION to CRIME_CATEGORY_NUMBER, and reverse (Might be useful later)

In [102]:
'''
class_mapping = {label:id_num for id_num, label in enumerate(np.unique(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"]) )}
print(class_mapping) # returns as dict obj - maybe below is better

# or

class_le = LabelEncoder() # does above automatically; but returns as numpy array
y_map = class_le.fit_transform(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"])
print(y_map)
y_inverse = class_le.inverse_transform(y_map) # undo transform - back to string
print(y_inverse)
'''

'\nclass_mapping = {label:id_num for id_num, label in enumerate(np.unique(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"]) )}\nprint(class_mapping) # returns as dict obj - maybe below is better\n\n# or\n\nclass_le = LabelEncoder() # does above automatically; but returns as numpy array\ny_map = class_le.fit_transform(X_sheriff_df["CRIME_CATEGORY_DESCRIPTION"])\nprint(y_map)\ny_inverse = class_le.inverse_transform(y_map) # undo transform - back to string\nprint(y_inverse)\n'

### Assign FEATURES and LABELS
#### _Note_ : Rows where CITY feature/value is missing are filtered out

In [103]:
filter_sheriff_df = sheriff_df[pd.notnull(sheriff_df['CITY']) ] # filter out rows where CITY value is missing

X_sheriff_df = filter_sheriff_df[feat_cols] # FEATURES column
y_sheriff_df = filter_sheriff_df[label_col] # LABELS

print(sheriff_df.shape[0] - X_sheriff_df.shape[0], "rows were filtered out!")
print("We still have", X_sheriff_df.shape[0], "left :)")

3119 rows were filtered out!
We still have 167361 left :)

### Print out FEATURE columns

In [104]:
X_sheriff_df.head()

               CRIME_DATE  CRIME_YEAR             CITY
0  01/08/2017 11:01:30 AM        2017        LANCASTER
1  10/09/2016 01:10:00 PM        2016          COMPTON
2  07/30/2017 12:07:00 PM        2017  ROWLAND HEIGHTS
4  08/06/2017 05:08:00 AM        2017         PALMDALE
6  07/12/2017 10:07:00 AM        2017       CHATSWORTH

### Print out LABEL column

In [105]:
y_sheriff_df.head()

   CRIME_CATEGORY_NUMBER
0                      6
1                     23
2                      6
4                      5
6                     23

### Print size/shape of FEATURE and LABEL columns

In [106]:
print(X_sheriff_df.shape)
print(y_sheriff_df.shape)

(167361, 3)
(167361, 1)

## Preprocessing

### Define month dict

In [107]:
month_dict = {
    "01": "January",
    "02": "February",
    "03": "March",
    "04": "April",
    "05": "May",
    "06": "June",
    "07": "July",
    "08": "August",
    "09": "September",
    "10": "October",
    "11": "November",
    "12": "December"
}

### Make a copy of ```X_sherifff_df```

In [108]:
X_prep_df = X_sheriff_df.copy() # X is capitalized...
X_prep_df.shape

(167361, 3)

### Split DATE into CRIME_MONTH and CRIME_DAY

In [127]:
#First we are just getting the date of the crime here

X_prep_df['DATE'] = X_prep_df.CRIME_DATE.str.split('\s+').str[0]
X_prep_df['CRIME_MONTH'] = X_prep_df['DATE'].str.split("/").str[0]
X_prep_df['CRIME_DAY'] = X_prep_df['DATE'].str.split("/").str[1]

print(X_prep_df['DATE'].head())
print(X_prep_df['DATE'].shape, "\n")

print(X_prep_df['CRIME_MONTH'].head())
print(X_prep_df['CRIME_MONTH'].shape, "\n")

print(X_prep_df['CRIME_DAY'].head())
print(X_prep_df['CRIME_DAY'].shape)

0    01/08/2017
1    10/09/2016
2    07/30/2017
4    08/06/2017
6    07/12/2017
Name: DATE, dtype: object
(167361,)

0    01
1    10
2    07
4    08
6    07
Name: CRIME_MONTH, dtype: object
(167361,)

0    08
1    09
2    30
4    06
6    12
Name: CRIME_DAY, dtype: object
(167361,)

### Convert TIME to TIME24 (24 hour time)

In [110]:
#Now we can get the time of the crime and convert it to 24 hour time
X_prep_df['TIME24'] = pd.to_datetime(X_sheriff_df['CRIME_DATE'], format='%m/%d/%Y %I:%M:%S %p').dt.time.astype(str)

X_prep_df['TIME24'].head()

0    11:01:30
1    13:10:00
2    12:07:00
4    05:08:00
6    10:07:00
Name: TIME24, dtype: object

### Split TIME24 in to HOUR and MINUTE

In [139]:
X_prep_df['CRIME_HOUR'] = X_prep_df['TIME24'].str.split(":").str[0]
X_prep_df['CRIME_MINUTE'] = X_prep_df['TIME24'].str.split(":").str[1]

print(X_prep_df['TIME24'].head(), "\n")
print(X_prep_df['CRIME_HOUR'].head(), "\n")

0    11:01:30
1    13:10:00
2    12:07:00
4    05:08:00
6    10:07:00
Name: TIME24, dtype: object

0    11
1    13
2    12
4    05
6    10
Name: CRIME_HOUR, dtype: object

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

### Print out preprocessed data

In [112]:
X_prep_df.head()

,CRIME_DATE,CRIME_YEAR,CITY,DATE,CRIME_MONTH,CRIME_DAY,TIME24,CRIME_HOUR,CRIME_MINUTE
0,01/08/2017 11:01:30 AM,2017,LANCASTER,01/08/2017,01,08,11:01:30,11,01
1,10/09/2016 01:10:00 PM,2016,COMPTON,10/09/2016,10,09,13:10:00,13,10
2,07/30/2017 12:07:00 PM,2017,ROWLAND HEIGHTS,07/30/2017,07,30,12:07:00,12,07
4,08/06/2017 05:08:00 AM,2017,PALMDALE,08/06/2017,08,06,05:08:00,05,08
6,07/12/2017 10:07:00 AM,2017,CHATSWORTH,07/12/2017,07,12,10:07:00,10,07

## New DF with preprocessed data

In [129]:
new_features = ['CRIME_MONTH', 'CRIME_DAY', 'CRIME_YEAR',
                'CRIME_HOUR',
                'CITY']
# leaving out 'CRIME_MINUTE' since it's range is only between 0 - 12... idk why

X = X_prep_df[new_features]
y = y_sheriff_df[label_col] # same label from the beginning: CRIME_CATEGORY_NUMBER

### Print new FEATURES of new preprocessed DF

In [130]:
X.head()

  CRIME_MONTH CRIME_DAY  CRIME_YEAR CRIME_HOUR             CITY
0          01        08        2017         11        LANCASTER
1          10        09        2016         13          COMPTON
2          07        30        2017         12  ROWLAND HEIGHTS
4          08        06        2017         05         PALMDALE
6          07        12        2017         10       CHATSWORTH

### Check sizes

In [131]:
print(X.shape)
print(y.shape)

(167361, 5)
(167361, 1)

### OHE?

In [134]:
features_to_ohe = ['CRIME_MONTH', 'CRIME_DAY', 'CRIME_YEAR', 'CRIME_HOUR']
X_ohe_df = pd.get_dummies(X[features_to_ohe])
X_ohe_df[::20000]

,CRIME_YEAR,CRIME_MONTH_01,CRIME_MONTH_02,CRIME_MONTH_03,CRIME_MONTH_04,CRIME_MONTH_05,CRIME_MONTH_06,CRIME_MONTH_07,CRIME_MONTH_08,CRIME_MONTH_09,...,CRIME_HOUR_14,CRIME_HOUR_15,CRIME_HOUR_16,CRIME_HOUR_17,CRIME_HOUR_18,CRIME_HOUR_19,CRIME_HOUR_20,CRIME_HOUR_21,CRIME_HOUR_22,CRIME_HOUR_23
0,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21649,2016,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41798,2016,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
61960,2017,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82127,2017,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
102268,2016,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
122434,2017,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
142578,2017,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
162731,2016,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### CITY encoding

In [147]:
class_le = LabelEncoder() # does above automatically; but returns as numpy array
city_mapping = class_le.fit_transform(X["CITY"])

X["CITY_MAP"] = city_mapping
print(X)

#qq = pd.Series()
#qq["CITY_MAP"] = city_mapping
print(type(qq) )

#city_mapping_inverse = class_le.inverse_transform(city_mapping) # undo transform - back to string
#print(y_inverse)

       CRIME_MONTH CRIME_DAY  CRIME_YEAR CRIME_HOUR                 CITY  \
0               01        08        2017         11            LANCASTER
1               10        09        2016         13              COMPTON
2               07        30        2017         12      ROWLAND HEIGHTS
4               08        06        2017         05             PALMDALE
6               07        12        2017         10           CHATSWORTH
7               06        02        2017         12             TORRANCE
8               07        21        2017         10              NORWALK
9               05        12        2017         18         BALDWIN PARK
10              12        06        2016         06            SAN DIMAS
11              09        18        2017         19             ROSEMEAD
12              03        28        2017         12          LOS ANGELES
14              05        16        2017         20          LOS ANGELES
16              07        30        2017         21               DUARTE
18              06        28        2017         11       SOUTH EL MONTE
19              11        10        2016         18             ROSEMEAD
20              02        17        2017         11              HOUSTON
21              07        22        2017         21     RANCHO CUCAMONGA
23              03        21        2017         06            LANCASTER
25              10        29        2016         16           BELLFLOWER
27              11        26        2016         08               DUARTE
28              03        15        2017         15       WOODLAND HILLS
29              03        04        2017         20               LOMITA
30              05        15        2017         12            IRWINDALE
31              05        31        2017         16     SAN GABRIEL MTNS
33              06        16        2017         04              ARTESIA
37              01        12        2017         10             CERRITOS
38              06        16        2017         19        SANTA CLARITA
39              07        24        2017         17               POMONA
40              03        27        2017         11       CANYON COUNTRY
45              03        30        2017         18          PICO RIVERA
...            ...       ...         ...        ...                  ...
170445          11        29        2016         14  RANCHO PALOS VERDES
170446          12        27        2016         06             GLENDALE
170447          12        12        2016         03              LYNWOOD
170448          12        08        2016         01         LEONA VALLEY
170450          12        27        2016         06          LOS ANGELES
170451          12        20        2016         16             EL MONTE
170453          12        25        2016         04            LA MIRADA
170454          12        27        2016         10            LA CANADA
170455          12        15        2016         08  RANCHO PALOS VERDES
170456          12        27        2016         17             WHITTIER
170458          12        26        2016         22             PALMDALE
170459          12        24        2016         02             WHITTIER
170460          12        26        2016         01    LAKE VIEW TERRACE
170461          12        25        2016         13          LOS ANGELES
170462          12        20        2016         15      HUNTINGTON PARK
170463          12        26        2016         15          SAN GABRIEL
170464          12        27        2016         06           LONG BEACH
170465          12        26        2016         03            CALABASAS
170466          12        07        2016         11               LOMITA
170467          12        27        2016         06            LANCASTER
170468          12        26        2016         22                ACTON
170469          12        26        2016         17      HUNTINGTON PARK
170470          12        24        2016         19          LOS ANGELES
170471          12        25        2016         11       CANYON COUNTRY
170472          12        22        2016         14            LANCASTER
170473          12        23        2016         15              COMPTON
170474          12        21        2016         10              LYNWOOD
170475          12        23        2016         01              CASTAIC
170477          12        27        2016         03              COMPTON
170479          12        11        2016         18              NORWALK

        CITY_MAP
0            158
1             69
2            251
4            220
6             54
7            300
8            209
9             23
10           260
11           249
12           171
14           171
16            85
18           279
19           249
20           131
21           237
23           158
25            28
27            85
28           341
29           168
30           138
31           264
33            18
37            50
38           270
39           231
40            41
45           228
...          ...
170445       239
170446       114
170447       173
170448       164
170450       171
170451        92
170453       147
170454       143
170455       239
170456       335
170458       220
170459       335
170460       156
170461       171
170462       133
170463       263
170464       169
170465        36
170466       168
170467       158
170468         3
170469       133
170470       171
170471        41
170472       158
170473        69
170474       173
170475        44
170477        69
170479       209

[167361 rows x 6 columns]
<class 'pandas.core.series.Series'>

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

## Classification

### Imports

In [133]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_pre, y_pre, test_size = 0.3)
print(y_pre.shape)
print(X_pre.shape)

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, y_train)
y_predict = knn.predict(x_test)
accuracy = accuracy_score(y_test, y_predict)
print("KNN: ", accuracy)