# Sheriff Crime Data

1. Import DATA
  * Show the data
  * Check size/shape
2. this
  * dis
3. Preprocessing
  * Date conversion
    * One-Hot-Encode MONTHS
      * Create a mapping function or dictionary (use LabelEncoder(); ez)
      * then o.h.e.
    * One-Hot-Encode DAY?
      * create a range so it's not so much?
        * example (1 - 10, 11 - 20, 21 - 31); 3 categories
      * then o.h.e
    * One-Hot_Encode TIME?
      * same as DAY.. create categories/range
        * (morning, 0:00 - 11:59a), (afternoon, 12 - 5:59p), (evening, 6 - 11:59p)
        * or more specific?
      * then o.h.e
    * YEAR.... ez

## Import the data

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

sheriff_df = pd.read_csv("LA_SHERIFF__CRIMES_-_LAST_12_MONTHS.csv")
#sheriff_df = sheriff_df[pd.notnull(sheriff_df['LATITUDE'])] # why?? this is done below; but city is used

### Print it out

In [2]:
sheriff_df[::20000]

,CRIME_DATE,CRIME_YEAR,CRIME_CATEGORY_NUMBER,CRIME_CATEGORY_DESCRIPTION,STATISTICAL_CODE,STATISTICAL_CODE_DESCRIPTION,VICTIM_COUNT,STREET,CITY,STATE,ZIP,LATITUDE,LONGITUDE,GANG_RELATED,REPORTING_DISTRICT,STATION_IDENTIFIER,STATION_NAME,CRIME_IDENTIFIER,LOCATION
0,01/08/2017 11:01:30 AM,2017,6,LARCENY THEFT,389,"THEFT, PETTY: Other (From Prvt Res, Boat, Plan...",1,44240 4TH ST E,LANCASTER,CA,NaN,34.686938,-118.123960,N,1133,CA0190024,LANCASTER,18052353,"44240 4TH ST E\nLANCASTER, CA\n(34.68693834371..."
20000,12/07/2016 04:12:00 AM,2016,24,VANDALISM,263,VANDALISM FELONY,1,610 W CORREGIDOR ST,COMPTON,CA,90220.0,33.889429,-118.232992,N,2835,CA0190042,COMPTON,17987318,"610 W CORREGIDOR ST\nCOMPTON, CA 90220\n(33.88..."
40000,05/24/2017 02:05:00 PM,2017,7,GRAND THEFT AUTO,91,GRAND THEFT VEHICLE (GTA): Automobile/Passenge...,1,9300 SIERRA VISTA DR,PICO RIVERA,CA,NaN,33.967714,-118.098478,N,1518,CA0190015,PICO RIVERA,18216008,"9300 SIERRA VISTA DR\nPICO RIVERA, CA\n(33.967..."
60000,03/25/2017 08:03:00 AM,2017,7,GRAND THEFT AUTO,91,GRAND THEFT VEHICLE (GTA): Automobile/Passenge...,1,9930 CEDAR ST,BELLFLOWER,CA,90706.0,33.871000,-118.122006,N,1335,CA0190013,LAKEWOOD,18151622,"9930 CEDAR ST\nBELLFLOWER, CA 90706\n(33.87099..."
80000,10/19/2016 04:10:00 AM,2016,5,BURGLARY,71,"BURGLARY, OTHER STRUCTURE: Night, Entry By Force",1,9010 SLAUSON AVE,PICO RIVERA,CA,90660.0,33.971104,-118.104307,N,1517,CA0190015,PICO RIVERA,17939209,"9010 SLAUSON AVE\nPICO RIVERA, CA 90660\n(33.9..."
100000,11/11/2016 03:11:00 PM,2016,16,NARCOTICS,183,Under The Influence Of Narcotic 11550 HS. Does...,1,5300 WHITTIER BLVD,LOS ANGELES,CA,90022.0,34.020380,-118.155995,N,286,CA0190002,EAST LOS ANGELES,17963711,"5300 WHITTIER BLVD\nLOS ANGELES, CA 90022\n(34..."
120000,07/17/2017 11:07:00 AM,2017,24,VANDALISM,263,VANDALISM FELONY,1,14340 PIONEER BLVD,NORWALK,CA,NaN,33.901496,-118.082564,N,455,CA0190004,NORWALK,18275408,"14340 PIONEER BLVD\nNORWALK, CA\n(33.901495512..."
140000,11/16/2016 12:11:00 AM,2016,10,FRAUD AND NSF CHECKS,117,IDENTITY THEFT (GOODS/SERVICES/CREDIT),1,16800 ARROW HWY,AZUSA,CA,91702.0,34.107291,-117.918695,N,867,CA0190008,SAN DIMAS,18180858,"16800 ARROW HWY\nAZUSA, CA 91702\n(34.10729138..."
160000,09/15/2017 01:09:00 PM,2017,13,NON-AGGRAVATED ASSAULTS,144,"ASSAULT, NON-AGG: Hands, Feet, Fist, Etc.",1,21900 S MONETA AVE,CARSON,CA,90745.0,33.829081,-118.282963,N,1617,CA0190016,CARSON,18333379,"21900 S MONETA AVE\nCARSON, CA 90745\n(33.8290..."

### Print size/shape of Dataset

In [3]:
print(sheriff_df.shape)

(170480, 19)

### Define features and label

In [4]:
''' # saved for convenience; might be useful if we try k-means clustering.. if we have time

all_columns = ['CRIME_DATE', 'CRIME_YEAR', 'CRIME_CATEGORY_NUMBER',
       'CRIME_CATEGORY_DESCRIPTION', 'STATISTICAL_CODE',
       'STATISTICAL_CODE_DESCRIPTION', 'VICTIM_COUNT', 'STREET', 'CITY',
       'STATE', 'ZIP', 'LATITUDE', 'LONGITUDE', 'GANG_RELATED',
       'REPORTING_DISTRICT', 'STATION_IDENTIFIER', 'STATION_NAME',
       'CRIME_IDENTIFIER', 'LOCATION']
'''

# edit features to include here
feat_cols = ['CRIME_DATE', 'CRIME_YEAR', 'CITY']

label_col = ["CRIME_CATEGORY_NUMBER"]

### Assign FEATURES and LABELS
#### _Note_ : Rows where CITY feature/value is missing are filtered out

In [5]:
filter_sheriff_df = sheriff_df[pd.notnull(sheriff_df['CITY']) ] # filter out rows where CITY value is missing

X_sheriff_df = filter_sheriff_df[feat_cols] # FEATURES column
y_sheriff_df = filter_sheriff_df[label_col] # LABELS

print(sheriff_df.shape[0] - X_sheriff_df.shape[0], "rows were filtered out!")
print("We still have", X_sheriff_df.shape[0], "left :)")

3119 rows were filtered out!
We still have 167361 left :)

### Print out FEATURE columns

In [6]:
X_sheriff_df.head()

               CRIME_DATE  CRIME_YEAR             CITY
0  01/08/2017 11:01:30 AM        2017        LANCASTER
1  10/09/2016 01:10:00 PM        2016          COMPTON
2  07/30/2017 12:07:00 PM        2017  ROWLAND HEIGHTS
4  08/06/2017 05:08:00 AM        2017         PALMDALE
6  07/12/2017 10:07:00 AM        2017       CHATSWORTH

### Print out LABEL column

In [7]:
y_sheriff_df.head()

   CRIME_CATEGORY_NUMBER
0                      6
1                     23
2                      6
4                      5
6                     23

### Print size/shape of FEATURE and LABEL columns

In [8]:
print(X_sheriff_df.shape)
print(y_sheriff_df.shape)

(167361, 3)
(167361, 1)

## Preprocessing

### Define month dict

In [9]:
month_dict = {
    "01": "January",
    "02": "February",
    "03": "March",
    "04": "April",
    "05": "May",
    "06": "June",
    "07": "July",
    "08": "August",
    "09": "September",
    "10": "October",
    "11": "November",
    "12": "December"
}

### Make a copy of ```X_sherifff_df```

In [10]:
X_prep_df = X_sheriff_df.copy() # X is capitalized...

### Print copy

In [11]:
X_prep_df.head()

               CRIME_DATE  CRIME_YEAR             CITY
0  01/08/2017 11:01:30 AM        2017        LANCASTER
1  10/09/2016 01:10:00 PM        2016          COMPTON
2  07/30/2017 12:07:00 PM        2017  ROWLAND HEIGHTS
4  08/06/2017 05:08:00 AM        2017         PALMDALE
6  07/12/2017 10:07:00 AM        2017       CHATSWORTH

### Check shape of copy

In [12]:
X_prep_df.shape

(167361, 3)

### Split DATE into CRIME_MONTH and CRIME_DAY

In [13]:
#First we are just getting the date of the crime here

X_prep_df['DATE'] = X_prep_df.CRIME_DATE.str.split('\s+').str[0]
X_prep_df['CRIME_MONTH'] = X_prep_df['DATE'].str.split("/").str[0]
X_prep_df['CRIME_DAY'] = X_prep_df['DATE'].str.split("/").str[1]

### Print out DATE, CRIME_MONTH, and CRIME_DAY and check SHAPE

In [14]:
print(X_prep_df['DATE'].head())
print(X_prep_df['DATE'].shape, "\n")

print(X_prep_df['CRIME_MONTH'].head())
print(X_prep_df['CRIME_MONTH'].shape, "\n")

print(X_prep_df['CRIME_DAY'].head())
print(X_prep_df['CRIME_DAY'].shape)

0    01/08/2017
1    10/09/2016
2    07/30/2017
4    08/06/2017
6    07/12/2017
Name: DATE, dtype: object
(167361,)

0    01
1    10
2    07
4    08
6    07
Name: CRIME_MONTH, dtype: object
(167361,)

0    08
1    09
2    30
4    06
6    12
Name: CRIME_DAY, dtype: object
(167361,)

### Convert TIME to TIME24 (24 hour time) and PRINT

In [15]:
#Now we can get the time of the crime and convert it to 24 hour time
X_prep_df['TIME24'] = pd.to_datetime(X_sheriff_df['CRIME_DATE'], format='%m/%d/%Y %I:%M:%S %p').dt.time.astype(str)

X_prep_df['TIME24'].head()

0    11:01:30
1    13:10:00
2    12:07:00
4    05:08:00
6    10:07:00
Name: TIME24, dtype: object

### Split TIME24 in to HOUR and MINUTE and PRINT

In [16]:
X_prep_df['CRIME_HOUR']= X_prep_df['TIME24'].str.split(":").str[0]
X_prep_df['CRIME_MINUTE'] = X_prep_df['TIME24'].str.split(":").str[1]

print(X_prep_df['TIME24'].head(), "\n")
print(X_prep_df['CRIME_HOUR'].head(), "\n")
print(X_prep_df['CRIME_MINUTE'].head(), "\n")

0    11:01:30
1    13:10:00
2    12:07:00
4    05:08:00
6    10:07:00
Name: TIME24, dtype: object

0    11
1    13
2    12
4    05
6    10
Name: CRIME_HOUR, dtype: object

0    01
1    10
2    07
4    08
6    07
Name: CRIME_MINUTE, dtype: object

### CITY encoding/mapping

In [17]:
class_le = LabelEncoder() # does above automatically; but returns as numpy array
city_mapping = class_le.fit_transform(X_prep_df["CITY"])
print(city_mapping[:5])

city_mapping_inverse = class_le.inverse_transform(city_mapping) # undo transform - back to string
print(city_mapping_inverse[:5])

[158  69 251 220  54]
['LANCASTER' 'COMPTON' 'ROWLAND HEIGHTS' 'PALMDALE' 'CHATSWORTH']

### Add CITY_MAP to preprocessed DF

In [18]:
X_prep_df["CITY_MAP"] = city_mapping
X_prep_df["CITY_MAP"].head()

0    158
1     69
2    251
4    220
6     54
Name: CITY_MAP, dtype: int64

## ADD YEAR and CITY_MAP OHE preprocessing here...

In [19]:
# why won't CITY_MAP and YEAR OHE?

### Print out all preprocessed data

In [20]:
X_prep_df.head()

,CRIME_DATE,CRIME_YEAR,CITY,DATE,CRIME_MONTH,CRIME_DAY,TIME24,CRIME_HOUR,CRIME_MINUTE,CITY_MAP
0,01/08/2017 11:01:30 AM,2017,LANCASTER,01/08/2017,01,08,11:01:30,11,01,158
1,10/09/2016 01:10:00 PM,2016,COMPTON,10/09/2016,10,09,13:10:00,13,10,69
2,07/30/2017 12:07:00 PM,2017,ROWLAND HEIGHTS,07/30/2017,07,30,12:07:00,12,07,251
4,08/06/2017 05:08:00 AM,2017,PALMDALE,08/06/2017,08,06,05:08:00,05,08,220
6,07/12/2017 10:07:00 AM,2017,CHATSWORTH,07/12/2017,07,12,10:07:00,10,07,54

### Check preprocessed DF size

In [21]:
print(X_prep_df.shape)

(167361, 10)

### OHE

In [22]:
# leaving out 'CRIME_MINUTE' since it's range is only between 0 - 12... idk why

features_to_ohe = ['CRIME_MONTH', 'CRIME_DAY', 'CRIME_YEAR', 'CRIME_HOUR', 'CITY_MAP']

X = pd.get_dummies(X_prep_df[features_to_ohe], columns = features_to_ohe)

y = y_sheriff_df[label_col] # same label from the beginning: CRIME_CATEGORY_NUMBER

print(X.head())

   CRIME_MONTH_01  CRIME_MONTH_02  CRIME_MONTH_03  CRIME_MONTH_04  \
0               1               0               0               0
1               0               0               0               0
2               0               0               0               0
4               0               0               0               0
6               0               0               0               0

   CRIME_MONTH_05  CRIME_MONTH_06  CRIME_MONTH_07  CRIME_MONTH_08  \
0               0               0               0               0
1               0               0               0               0
2               0               0               1               0
4               0               0               0               1
6               0               0               1               0

   CRIME_MONTH_09  CRIME_MONTH_10      ...       CITY_MAP_336  CITY_MAP_337  \
0               0               0      ...                  0             0
1               0               1      ...                  0             0
2               0               0      ...                  0             0
4               0               0      ...                  0             0
6               0               0      ...                  0             0

   CITY_MAP_338  CITY_MAP_339  CITY_MAP_340  CITY_MAP_341  CITY_MAP_342  \
0             0             0             0             0             0
1             0             0             0             0             0
2             0             0             0             0             0
4             0             0             0             0             0
6             0             0             0             0             0

   CITY_MAP_343  CITY_MAP_344  CITY_MAP_345
0             0             0             0
1             0             0             0
2             0             0             0
4             0             0             0
6             0             0             0

[5 rows x 415 columns]

### Print X

In [23]:
X[::20000]

,CRIME_MONTH_01,CRIME_MONTH_02,CRIME_MONTH_03,CRIME_MONTH_04,CRIME_MONTH_05,CRIME_MONTH_06,CRIME_MONTH_07,CRIME_MONTH_08,CRIME_MONTH_09,CRIME_MONTH_10,...,CITY_MAP_336,CITY_MAP_337,CITY_MAP_338,CITY_MAP_339,CITY_MAP_340,CITY_MAP_341,CITY_MAP_342,CITY_MAP_343,CITY_MAP_344,CITY_MAP_345
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21649,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
41798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61960,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82127,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
102268,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122434,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142578,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
162731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Check shape

In [24]:
print(X.shape)
print(y.shape)

(167361, 415)
(167361, 1)

## Classification

### Imports

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

print(X.shape)
print(y.shape)
print(y.head() )

(167361, 415)
(167361, 1)
   CRIME_CATEGORY_NUMBER
0                      6
1                     23
2                      6
4                      5
6                     23

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, y_train)
y_predict = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_predict)
print("KNN: ", accuracy)

/usr/local/lib/python3.5/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().